@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

header{
    position: fixed;
    background: blue;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
    transition: .5s ease;
   
}

header .brand{
    color: #fff;
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;


}
header .navigation{
    position: relative;
    
}
header .navigation a{
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
    transition: .5s ease;
    
}
header .navigation a:hover{
    color: crimson;
}
section{
    padding: 120px;
    background: url(./photo11.jpg) no-repeat;
    background-size:unset;
    background-position: center;
    background-attachment: fixed;
    color: white;
}
.main{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-size: covers;
    
    background-attachment: unset;
    background-image: url(./photo4.jpg);
   
}
.main .content{
    max-width: 800px;
}
.main .content h2{
    color: #fff;
    font-size: 36px;
    font-weight: 500;
}
.main .content h2 span{
    font-size: 60px;
    font-weight: 600;
}
animated-text{
    height: 70px;
    overflow: hidden;
    position: relative;
}
.animated-text h3{
    color: crimson;
    font-size: 52px;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: 1px;
}
.animated-text h3:nth-child(1){
    animation: text-move 10s infinite ;
}

.btn{
    color: #fff;
    background: crimson;
    font-size: 17px;
    font-weight: 600;
    display: inline-block;
    padding: 10px 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    border-radius: 2px;
    margin-top: 30px 0;
    transition: .5s;
}
.btn:hover{
    background: #fff;
    color: black;
}
.media-icons a{
    color: #fff;
    font-size: 25px;
    margin-right: 30px;
}






